.slider {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;

    .btn-left,
    .btn-right {
        position: absolute;
        width: 50px;
        height: 50px;
        margin: 0 3rem;
        display: none;
    }

    &:hover {
        .btn-left,
        .btn-right {
            display: block;
            cursor: pointer;
            z-index: 1;
        }
    }

    .btn-left {
        left: 0;
        background-position: -407px 0;
        vertical-align: middle;
        font-size: 1.2rem;
        color: #FFF;
    }

    .btn-right {
        right: 0;
        vertical-align: middle;
        font-size: 1.2rem;
        color: #FFF;
        background-position: -456px 0;
    }

    .slider-parts {
        width: 100%;
        overflow: hidden;

        .list-slide {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            transition: all 400ms ease 0s;
        }

        .slider-part {
            width: 100%;
            height: 100%;

            .title-banner {
                position: relative;
                top: 0;
                text-align: center;
                height: 6rem;
                line-height: 6rem;
                font-weight: bold;
                border: 1px solid #DFDFDF;
            }

            .slider-link {
                height: 100%;
                display: block;

                .slider-link__img {
                    width: -webkit-fill-available;
                }
            }
        }
    }
}