.wrapper {
    background-color: #FFF;
    padding: 1rem 2rem;
    margin-top: 1rem;

    .featured {
        display: flex;
        padding: 2rem 3rem;

        .featured-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .5s;

            &:hover {
                -webkit-transform: scale(1.06);
                transform: scale(1.06);
                -webkit-transition: transform .5s;
                transition: transform .5s;
            }

            .featured-item__img {
                width: 8rem;
                height: 8rem;
            }
        }

        .featured-item + .featured-item {
            margin-left: 5rem;
        }
    }
}