.wrapper {
    margin-top: 2.5rem;
    background-color: #FFF;
    padding: 1rem 1rem;

    .list-payment {
        padding: 1rem 0;
        display: flex;
        overflow: auto;

        .payment-item + .payment-item {
            margin-left: 1.5rem;
        }
    }
    
    
}